.loginBox{
  background-color: var(--black100);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  padding: 20px;
  border-radius: 10px;
}

.loginBox input {
  min-width: 200px;
}

.passwordLink{
  margin: 0;
}

.passwordLink a{
  text-decoration: none;
  font-size: 13px;
  color: var(--beige100);
}

.passwordLink a:hover{
  color: var(--yellow200);
}

.inputCtr{
  display: flex;
  flex-direction: column;
  gap: 20px;
}